.contactForm {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;

  border: 1px solid coral;
  border-radius: 5px;
}

.contactInput {
  font-size: 12px;
  font-weight: 500;
  color: coral;

  margin: 0px;
  padding: 5px;
  min-width: 230px;
  max-width: 250px;

  border: 1px solid coral;
  border-radius: 5px;

  transition: all linear 300ms;
}

.contactInput:hover,
.contactInput:focus {
  padding: 10px;
  font-size: 14px;
  border: none;
  background-color: coral;
  color: white;
  outline: none;
}

.contactLabel {
  font-size: 18px;
  font-weight: 500;
  color: coral;
  display: block;
  margin-bottom: 15px;
}

.contactSpan {
  display: inline-block;
  width: 200px;
}

.contactButton {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;

  border: 1px solid coral;
  border-radius: 5px;
  background-color: #fff;
  color: coral;

  transition: all linear 300ms;
}

.contactButton:hover,
.contactButton:focus {
  color: white;
  border: 1px solid green;
  background-color: green;
  cursor: pointer;
  outline: none;

  transition: all linear 300ms;
}
